In [1]:
import os
import pandas as pd
#taxi_data_2021= pd.read_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_-_2021.csv")

In [3]:
taxi_data_2020= pd.read_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_-_2020.csv")

In [4]:
taxi_data_2019= pd.read_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_-_2019.csv")

In [5]:
taxi_data_2018= pd.read_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_-_2018.csv")

In [2]:
taxi_data_2017= pd.read_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_-_2017.csv")

In [16]:
taxi_data_2019.count()
#89010x60

Trip ID                       16477365
Taxi ID                       16476440
Trip Start Timestamp          16477365
Trip End Timestamp            16476820
Trip Seconds                  16474629
Trip Miles                    16476815
Pickup Census Tract           10881829
Dropoff Census Tract          10784224
Pickup Community Area         15239379
Dropoff Community Area        14818716
Fare                          16475794
Tips                          16475794
Tolls                         16217353
Extras                        16475794
Trip Total                    16475794
Payment Type                  16477365
Company                       16477365
Pickup Centroid Latitude      15241413
Pickup Centroid Longitude     15241413
Pickup Centroid Location      15241413
Dropoff Centroid Latitude     14877765
Dropoff Centroid Longitude    14877765
Dropoff Centroid  Location    14877765
DateTime                      16477365
date_day                      16477365
dtype: int64

In [41]:
taxi_data_2020.dtypes

Trip ID                        object
Taxi ID                        object
Trip Start Timestamp           object
Trip End Timestamp             object
Trip Seconds                  float64
Trip Miles                    float64
Pickup Census Tract           float64
Dropoff Census Tract          float64
Pickup Community Area         float64
Dropoff Community Area        float64
Fare                          float64
Tips                          float64
Tolls                         float64
Extras                        float64
Trip Total                    float64
Payment Type                   object
Company                        object
Pickup Centroid Latitude      float64
Pickup Centroid Longitude     float64
Pickup Centroid Location       object
Dropoff Centroid Latitude     float64
Dropoff Centroid Longitude    float64
Dropoff Centroid  Location     object
dtype: object

In [6]:
taxi_data_2020['DateTime'] = pd.to_datetime(taxi_data_2020['Trip Start Timestamp'], format='%m/%d/%Y %I:%M:%S %p')
taxi_data_2019['DateTime'] = pd.to_datetime(taxi_data_2019['Trip Start Timestamp'], format='%m/%d/%Y %I:%M:%S %p')
taxi_data_2018['DateTime'] = pd.to_datetime(taxi_data_2018['Trip Start Timestamp'], format='%m/%d/%Y %I:%M:%S %p')
taxi_data_2017['DateTime'] = pd.to_datetime(taxi_data_2017['Trip Start Timestamp'], format='%m/%d/%Y %I:%M:%S %p')

In [ ]:
taxi_data_2020['date_hour'] = taxi_data_2020['DateTime'].dt.hour
taxi_data_2019['date_hour'] = taxi_data_2019['DateTime'].dt.hour
taxi_data_2018['date_hour'] = taxi_data_2018['DateTime'].dt.hour
taxi_data_2017['date_hour'] = taxi_data_2017['DateTime'].dt.hour

In [17]:
taxi_data_2020['date_day'] = taxi_data_2020['DateTime'].dt.day
taxi_data_2019['date_day'] = taxi_data_2019['DateTime'].dt.day
taxi_data_2018['date_day'] = taxi_data_2018['DateTime'].dt.day
taxi_data_2017['date_day'] = taxi_data_2017['DateTime'].dt.day

taxi_data_2020['date_dayofweek'] = taxi_data_2020['DateTime'].dt.dayofweek
taxi_data_2019['date_dayofweek'] = taxi_data_2019['DateTime'].dt.dayofweek
taxi_data_2018['date_dayofweek'] = taxi_data_2018['DateTime'].dt.dayofweek
taxi_data_2017['date_dayofweek'] = taxi_data_2017['DateTime'].dt.dayofweek

In [105]:
taxi_data_2020.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,DateTime,date_hour,date_day
0,16c7456d99031528c238bd02f40df5ab9bdf9778,88d3be8c1334607f62a8c058f680dd7fbb57826ec7408d...,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,60.0,0.00,NaN,NaN,NaN,NaN,...,Top Cab Affiliation,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-01,0,1
1,472eef1d5c7a5e5ee033f673942f367dc71869f1,199fa05b63204aa1c620c161c5cebe43b0909b1ee99864...,01/01/2020 12:00:00 AM,01/01/2020 12:30:00 AM,1740.0,0.00,NaN,NaN,NaN,43.0,...,Blue Ribbon Taxi Association Inc.,NaN,NaN,NaN,41.761578,-87.572782,POINT (-87.5727819867 41.7615779081),2020-01-01,0,1
2,031a4d882fb3315a490d0b5c358c945ad9b9856d,aabecb47e958f99860a3b4d01f14d53644ac26126d9519...,01/01/2020 12:00:00 AM,01/01/2020 12:15:00 AM,720.0,0.70,NaN,NaN,8.0,8.0,...,Taxi Affiliation Services,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),2020-01-01,0,1
3,3c416c246829dfb3f78cc93cbc7dfecdd379be15,ba106251fbb2b52177138ccbb8a1327a83c89470c240b2...,01/01/2020 12:00:00 AM,01/01/2020 12:15:00 AM,720.0,0.80,NaN,NaN,8.0,8.0,...,Taxi Affiliation Services,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),2020-01-01,0,1
4,3c0a22971ae070ce35e0c03f1b8e92fe7aa840cd,1f1970d8e52c7e2575aeb68eb3b6ab0e21c77b728267df...,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,556.0,0.77,NaN,NaN,8.0,8.0,...,Sun Taxi,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),2020-01-01,0,1

In [88]:
taxi_counts_2020 = taxi_data_2020.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2020.date_hour]).size().reset_index(name='count')
#df.groupby([pd.Grouper(key='date',freq='H'),df.station]).size().reset_index(name='count')

In [89]:
taxi_counts_2019 = taxi_data_2019.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2019.date_hour]).size().reset_index(name='count')
taxi_counts_2018 = taxi_data_2018.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2018.date_hour]).size().reset_index(name='count')
taxi_counts_2017 = taxi_data_2017.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2017.date_hour]).size().reset_index(name='count')

In [67]:
result = pd.concat([taxi_counts_2019, taxi_counts_2020])

In [81]:
taxi_data_2020.Fare

0           3.25
1          13.00
2           7.25
3           7.75
4           6.75
           ...
3889027     4.75
3889028    19.50
3889029     6.50
3889030    33.00
3889031    14.50
Name: Fare, Length: 3889032, dtype: float64

In [90]:
taxi_mean_2017 = taxi_data_2017.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2017.date_hour]).mean()
taxi_mean_2018 = taxi_data_2018.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2018.date_hour]).mean()
taxi_mean_2019 = taxi_data_2019.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2019.date_hour]).mean()
taxi_mean_2020 = taxi_data_2020.groupby([pd.Grouper(key='DateTime',freq='H'),taxi_data_2020.date_hour]).mean()

In [38]:
taxi_mean_2020[['Trip Seconds','Trip Miles','Fare','Tips','Trip Total']].round(2)

                     Trip Seconds  Trip Miles   Fare  Tips  Trip Total
DateTime   date_day
2020-01-01 1               746.09        3.56  14.65  1.58       17.90
2020-01-02 2               770.76        3.20  14.29  1.31       16.72
2020-01-03 3               741.54        2.92  12.96  1.26       15.26
2020-01-04 4               774.33        3.57  15.57  1.43       18.65
2020-01-05 5               889.27        4.97  17.58  1.97       21.64
...                           ...         ...    ...   ...         ...
2020-12-27 27             1238.18        7.95  24.42  1.70       29.50
2020-12-28 28             1097.37        5.15  18.41  0.88       21.16
2020-12-29 29             1350.76        5.16  18.37  0.93       20.38
2020-12-30 30             1180.19        5.41  18.83  1.01       22.48
2020-12-31 31             1152.14        4.68  17.47  0.76       19.83

[366 rows x 5 columns]

In [95]:
tips_2017 = taxi_mean_2017["Tips"]
tips_2018 = taxi_mean_2018["Tips"]
tips_2019 = taxi_mean_2019["Tips"]
tips_2020 = taxi_mean_2020["Tips"]

In [99]:
tips_total = pd.concat([tips_2017,tips_2018,tips_2019, tips_2020])

In [101]:
tips_total.to_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_total.csv")

In [103]:
taxi_mean_2017 = taxi_data_2017.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2017.date_day]).mean()
taxi_mean_2018 = taxi_data_2018.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2018.date_day]).mean()
taxi_mean_2019 = taxi_data_2019.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2019.date_day]).mean()
taxi_mean_2020 = taxi_data_2020.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2020.date_day]).mean()

MemoryError: Unable to allocate 2.79 GiB for an array with shape (15, 24988003) and data type float64

In [8]:
taxi_mean_2017 = taxi_data_2017.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2017.date_day]).mean()

In [9]:
taxi_mean_2018 = taxi_data_2018.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2018.date_day]).mean()

In [10]:
taxi_mean_2019 = taxi_data_2019.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2019.date_day]).mean()

In [11]:
taxi_mean_2020 = taxi_data_2020.groupby([pd.Grouper(key='DateTime',freq='D'),taxi_data_2020.date_day]).mean()

In [13]:
tips_2017_day = taxi_mean_2017["Tips"]
tips_2018_day = taxi_mean_2018["Tips"]
tips_2019_day = taxi_mean_2019["Tips"]
tips_2020_day = taxi_mean_2020["Tips"]


tips_total_day = pd.concat([tips_2017_day,tips_2018_day,tips_2019_day, tips_2020_day])

In [108]:
taxi_data_2017.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,DateTime,date_hour,date_day
0,7ce98ec3d6d2b81bf6a91a5333e84690ec4e94f3,30ac065db3b331d97b0842f0cb1740ed5b8d7fe2653044...,01/01/2017 12:00:00 AM,01/01/2017 12:00:00 AM,480.0,1.5,NaN,1.703108e+10,NaN,8.0,...,Dispatch Taxi Affiliation,NaN,NaN,NaN,41.905858,-87.630865,POINT (-87.6308650266 41.9058577688),2017-01-01,0,1
1,e447e5c2e41c4f6751907d5e686f35b34e315afb,4e902eb187e3942c1da821c8aa349fc848c6ff3f71f107...,01/01/2017 12:00:00 AM,01/01/2017 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,NaN,...,Suburban Dispatch LLC,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01,0,1
2,95e39db90a6a468a863f43c8eccce7e26ba3db39,78a7a28fe001257044d5095fcb1ff7156a47411ff93cc5...,01/01/2017 12:00:00 AM,01/01/2017 12:45:00 AM,2280.0,0.2,NaN,NaN,NaN,76.0,...,Dispatch Taxi Affiliation,NaN,NaN,NaN,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),2017-01-01,0,1
3,b09914181a9bd6a5dcd2e44941d215bc663763df,c157870bbd395a664de1f3e6f7868b3b89472295c4e2d6...,01/01/2017 12:00:00 AM,01/01/2017 12:00:00 AM,480.0,1.7,NaN,NaN,NaN,NaN,...,4787 - 56058 Reny Cab Co,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01,0,1
4,d039b0e5600d5008f95bd55114fe8acdeba81d99,b5c4dfe366c83cef5604db1afcfbc15c8c38eeefd896b9...,01/01/2017 12:00:00 AM,01/01/2017 12:00:00 AM,540.0,0.0,NaN,NaN,NaN,NaN,...,Blue Ribbon Taxi Association Inc.,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01,0,1

In [14]:
tips_total_day.to_csv(r"C:/Users/drobe/Documents/TimeSeries/Final Project/taxi_trips_total_day.csv")

In [21]:
taxi_data_means = taxi_data_2019.groupby(['date_dayofweek']).mean()

In [22]:
taxi_data_means

,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,Tips,Tolls,Extras,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,date_day
date_dayofweek,,,,,,,,,,,,,,,,
0,909.566141,3.981585,1.703146e+10,1.703140e+10,29.502080,23.717138,15.608891,1.975686,0.002689,1.429758,19.152682,41.899557,-87.672929,41.896545,-87.653899,15.155836
1,873.652895,3.524705,1.703144e+10,1.703140e+10,28.027187,23.473690,14.320895,1.864865,0.002279,1.192663,17.519013,41.897078,-87.664277,41.895633,-87.651467,15.535079
2,910.072048,3.638191,1.703144e+10,1.703141e+10,28.099168,23.712247,14.784599,1.944683,0.002042,1.151175,18.023492,41.896883,-87.664630,41.895842,-87.652703,15.409039
3,941.881463,3.668947,1.703144e+10,1.703140e+10,27.949896,23.560216,14.866685,1.949016,0.001882,1.164783,18.123736,41.897020,-87.664709,41.896548,-87.653189,15.842142
4,905.842674,3.447153,1.703141e+10,1.703138e+10,26.368657,22.823999,14.389224,1.732886,0.001809,1.128009,17.383428,41.897166,-87.660958,41.896896,-87.652114,15.254886
5,819.631324,3.245837,1.703131e+10,1.703131e+10,22.419466,20.272140,13.899761,1.425604,0.001366,1.373525,16.813995,41.901150,-87.658665,41.900239,-87.650716,15.730847
6,916.809781,4.579700,1.703137e+10,1.703134e+10,26.967007,22.012973,17.180762,1.979663,0.002297,1.865471,21.149691,41.905853,-87.680855,41.902340,-87.659897,15.454017

In [23]:
taxi_data_means[['Trip Seconds','Trip Miles','Fare','Tips','Tolls','Trip Total']]

,Trip Seconds,Trip Miles,Fare,Tips,Tolls,Trip Total
date_dayofweek,,,,,,
0,909.566141,3.981585,15.608891,1.975686,0.002689,19.152682
1,873.652895,3.524705,14.320895,1.864865,0.002279,17.519013
2,910.072048,3.638191,14.784599,1.944683,0.002042,18.023492
3,941.881463,3.668947,14.866685,1.949016,0.001882,18.123736
4,905.842674,3.447153,14.389224,1.732886,0.001809,17.383428
5,819.631324,3.245837,13.899761,1.425604,0.001366,16.813995
6,916.809781,4.579700,17.180762,1.979663,0.002297,21.149691

In [33]:
#Getting trip in minutes
taxi_data_means['Trip_Minutes'] = taxi_data_means["Trip Seconds"]/60

taxi_data_means['Tips_per_minute'] = taxi_data_means["Tips"]/taxi_data_means['Trip_Minutes']

#Rounding everything to nearest 10th
taxi_data_means.round(2)

,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,Tips,Tolls,Extras,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,date_day,Trip_Minutes,Trips_per_minute,Tips_per_minute
date_dayofweek,,,,,,,,,,,,,,,,,,,
0,909.57,3.98,1.703146e+10,1.703140e+10,29.50,23.72,15.61,1.98,0.0,1.43,19.15,41.90,-87.67,41.9,-87.65,15.16,15.16,0.13,0.13
1,873.65,3.52,1.703144e+10,1.703140e+10,28.03,23.47,14.32,1.86,0.0,1.19,17.52,41.90,-87.66,41.9,-87.65,15.54,14.56,0.13,0.13
2,910.07,3.64,1.703144e+10,1.703141e+10,28.10,23.71,14.78,1.94,0.0,1.15,18.02,41.90,-87.66,41.9,-87.65,15.41,15.17,0.13,0.13
3,941.88,3.67,1.703144e+10,1.703140e+10,27.95,23.56,14.87,1.95,0.0,1.16,18.12,41.90,-87.66,41.9,-87.65,15.84,15.70,0.12,0.12
4,905.84,3.45,1.703141e+10,1.703138e+10,26.37,22.82,14.39,1.73,0.0,1.13,17.38,41.90,-87.66,41.9,-87.65,15.25,15.10,0.11,0.11
5,819.63,3.25,1.703131e+10,1.703131e+10,22.42,20.27,13.90,1.43,0.0,1.37,16.81,41.90,-87.66,41.9,-87.65,15.73,13.66,0.10,0.10
6,916.81,4.58,1.703137e+10,1.703134e+10,26.97,22.01,17.18,1.98,0.0,1.87,21.15,41.91,-87.68,41.9,-87.66,15.45,15.28,0.13,0.13

In [35]:
#Rounding everything to nearest 10th
taxi_data_means[['Trip_Minutes','Tips','Tips_per_minute','Trip Total']].round(2)

                Trip_Minutes  Tips  Tips_per_minute  Trip Total
date_dayofweek
0                      15.16  1.98             0.13       19.15
1                      14.56  1.86             0.13       17.52
2                      15.17  1.94             0.13       18.02
3                      15.70  1.95             0.12       18.12
4                      15.10  1.73             0.11       17.38
5                      13.66  1.43             0.10       16.81
6                      15.28  1.98             0.13       21.15